// E2E layout for Zellij Wrangler: two panes in tab 0, one pane in tab "work".
layout {
    tab {
        pane split_direction="vertical" {
            pane
            pane
        }
    }
    tab name="work" {
        pane
    }
}
